<%= form_with(model: @tasks, local: true) do |f| %>
  <% if @tasks.errors.any? %>
    <div id="error_explanation">
      <h2><%= @tasks.errors.count %>errors occurred.</h2>
      <ul>

      <% @tasks.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div  class="form">
    <%= f.label :title %>
    <%= f.text_field :title, class:'form-control' %>
  </div>

  <div class="form">
    <%= f.label :content %>
    <%= f.text_field :content,class:'form-control' %>
  </div>

  <div class=form">

    <%= f.label :deadline,"Deadline" %>
    <%= f.date_field :deadline,class:'form-control' %>
    </div>


  <div class="form">

    <%= f.label :status, "Status" %>
    <%= f.select :status, ['Not started','In progress','Completed'],{include_blank: 'Select Box'} %>
  </div>

  <div class="form">
    <%= f.label :priority, "Priority" %>
  <%= f.select(:priority, options_for_select([['Low','low'],['Medium','medium'],['High','high']])) %>
  </div>
  <% Label.all.each do |label| %>
 <%= f.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
 <%= f.label :label_ids, label.name, class:"label-bg", value: label[:id]%>
 <% end %>

  <div>
    <%= f.submit %>
  </div>
<% end %>
<%= link_to "Return to List of tasks screen", tasks_path %>
<%= t('task.index') %>
